
html {
    font-family: "SpoqaHanSans";
    font-size: 16px;
    line-height: 1.5;
    color: #1f2d3d;
  }


.multiprofile {
border : 1px solid rgb(243, 236, 236);
position:relative;
border-left:10px;
border-right:10px;
margin-left: 12px;
width:383px;
height:120px;
}

#multiprofile_title { 
    margin-top: -24px;
    position: absolute;
    }
h6 {
    color: rgb(177, 172, 172);
    font-size: 13px;
    font-weight: bold;
}
    
.multiprofile_instance {
position:absolute;
margin-top: -15px;
}


.multiprofile_img {
width:50px;
height:50px;
border-radius: 42%;
background-color: black;
position:absolute;
margin-top: 50px;
}  
.multiprofile_img_man {
width:30px;
height:30px;
border-radius: 39%;
position:absolute;
margin-top: 10px;
margin-left: 10px;
}  

.multiprofile_name {

font-size: 12px;
font-weight:bold;
position: absolute;
margin-top: 57px;
margin-left: 7px;
}


#sample{
    width:auto;
    height:150px;
}